@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--base: #fff;
	--borders: #c4c4c4;
	--contrast: #292F36;
	--subtle-text: #a8acae;
	--primary: #4ECDC4;
	--primary-soft: #c4f5f1;
	--secondary: #E54487;
	--tertiary: #facc75;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--contrast);
	color: var(--base);
	font-size: 1.4rem;
	font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	margin: 0;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 3px;
	font-weight: 400;
}

.app {
	text-align: center;
}

.app-logo {
	height: 3rem;
	pointer-events: none;
}

main {
	display: block;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.app-header {
	min-height: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
