@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--base: #fff;
	--selected: #e2e2e2;
	--subtle-text: #a8acae;
	--contrast: #292F36;
	--contrast-soft: #373e46;
	--primary: #4ECDC4;
	--primary-soft: #c4f5f1;
	--secondary: #E54487;
	--tertiary: #fadda7;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--contrast);
	color: var(--base);
	font-size: 1.4rem;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.app {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 3px;
	font-weight: 400;
}

main {
	display: block;
}

.app__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 6rem;
	padding: 2.4rem;
}

.app__heading {
	margin: 2rem 0;
}

/** Resets **/
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	cursor: pointer;
}
